.zchat-body {
    display: flex;
    flex-direction: row;
   
    .zchat-container{
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 50px;
        left: 50px;
        width: calc(100%  - 50px);
        height: calc(100%  - 50px);
        .zchat-list{ 
            background-color: green;
            align-items: center;
        }
        .zchat-content{
            //background-color: blue;
        }
        
        @media (min-width: 767px) and (max-width: 991px) {
            /* screen size between sm and md */
            .zchat-list {
                width:38.34%;
            }
            .zchat-content {
                width:61.66%;
            }
        }
        
        @media (min-width: 991px) {
            /* screen size larger than md */
            .zchat-list {
                width:38.34%;
                max-width:380px;
            }
            .zchat-content {
                width:61.66%;
                min-width: calc(100% - 380px);
            }
        }
        
        @media (max-width: 767px) {
            /* screen size under sm */
            .zchat-list {
                width:38.34%;
                min-width:270px;
            }
            .zchat-content {
                width: 61.66%;
                max-width: calc(100% - 270px);
            }
        }
    }
}
.zchat-header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(100, 0, 0);
}

