<div class="zchat-chat-header">
  <div class="zchat-chat-header-left-end">
    <div class="zchat-chat-header-picture">
      <div *ngIf="item.pictureLink; else defaultProfilPicture">
        <img class="zchat-profil-picture" [src]="item.pictureLink" alt="zchat-profile-picture">
      </div>
      <ng-template #defaultProfilPicture>
        <img class="zchat-profil-picture" [src]="defaultProfilPictureLink" alt="zchat-profile-picture">
      </ng-template>
    </div>
    <div class="zchat-chat-header-content">
      <div class="zchat-chat-header-content-first-row">
        <div class="zchat-sender">{{item.correspondentName}}</div>
      </div>
      <div class="zchat-chat-header-content-second-row">
        <div class="zchat-description">
          {{item.correspondentAbout}}
        </div>
      </div>
    </div>
    <div class="zchat-chat-header-right-end">
      <zchat-button class="zchat-chat-header-button">
        <ng-container *zchat-button-content>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
            class="zchat-button-svg bi bi-send" viewBox="0 0 16 16">
            <path
              d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
          </svg>
        </ng-container>
      </zchat-button>
      <zchat-button class="-chat-header-button">
        <ng-container *zchat-button-content>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
            class="zchat-button-svg bi bi-send" viewBox="0 0 16 16">
            <path
              d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
          </svg>
        </ng-container>
      </zchat-button>
    </div>
  </div>
</div>